body {
    background-color: grey;
}

.box {
    background-color: white;
    border: black solid 2px;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

/*CSS Grid*/
header {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr 5fr 5fr;
}
h1 {
    grid-column: 1/5;
}
nav {
    grid-column: 6;
}

/*flexbox*/
.flex {
    display: flex;
}
main {
    width: 80%;
}
aside {
    width :20%;
}